/******************* ALL *******************/

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

/******************* postDetail *******************/

.postDetailContainer{
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.postFromPostDetail{
  border: black solid 5px;
  border-radius: 20px;
  list-style: none;
  margin: 20px 20%;
  padding: 5%;
  background-color: #676767;
  height: 50vh;
  width: 50%;

  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: aliceblue;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titleFromPostDetail{
  font-family: 'Roboto', sans-serif;
  font-size: xxx-large;
  font-weight: bolder;

  display: flex;
  justify-content: center;
}

.labelFromPostDetail{
  font-size: x-large;

  display: flex;
  flex-direction: column;
}
